* {
	font-size: 13px;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
}

window#waybar {
	background: rgba(46, 52, 64, 0.8);
	color: #88c0d0;
    min-height: 10px;
    border-radius: 0px;
}

tooltip {
  background: #3b4252;
  border: 0px solid #bd93f9;
  border-radius: 10px;
}

tooltip label {
  color: #e5e9f0;
}

#workspaces {
	padding: 2px 2px;
}

#workspaces button {
    min-width: 0px;
    min-height: 0px;
	color: #e5e9f0;
}

#workspaces button.focused {
	color: #a3be8c;
}

#workspaces button:hover {
	background: #282a36;
	border: #282a36;
    color: #bd93f9;
}

#window {
	color: #88c0d0;
	padding: 2px 10px;
}

#memory {
	color: #ffb86c;
	padding: 2px 10px;
}

#clock {
    color: #bf616a;
	padding: 2px 10px;
}

#cpu {
	color: #8be9fd;
    padding: 2px 10px;
}

#disk {
	color: #50fa7b;
	padding: 2px 10px;
}

#battery {
    color: #f8f8f2;
	padding: 2px 10px;
}

#network {
    color: #f8f8f2;
	padding: 2px 10px;
}

#tray {
    padding: 2px 10px;
}

#custom-spotify {
    color: #8be9fd;
	padding: 2px;
}

#battery.warning {
   color: #ebcb8b;
}

#battery.critical {
   color: #bf616a;
}


